
.mca 
{
  font-family: 'Lucida Sans';
}

mei-filedesc > mei-titlestmt > mei-title 
{
  color: black;
  display: block;
  font-weight: bold;
  font-size: 26pt;
}

mei-filedesc > mei-titlestmt > mei-arranger::before
{
  display: block;
  content: "\A Arranged by "
}

mei-filedesc > mei-titlestmt > mei-composer::before
{
  display: block;
  content: "\A Composed by "
}

mei-filedesc > mei-titlestmt > mei-respstmt::before
{
  display: block;
  content: "\A ";
}

mei-filedesc > mei-editionstmt > mei-edition::before
{
  display: block;
  content: "\A Edition: "
}

mei-filedesc > mei-extent::before
{
    display: block;
   content: "\A Size (in bytes): "    
}

mei-filedesc > mei-pubstmt > mei-unpub::before
{
  display: block;
  content: "\A ";
}

mei-filedesc > mei-sourcedesc > mei-source > mei-head::before
{
  display: block;
  content: "\A ";
}

mei-filedesc > mei-sourcedesc > mei-source > mei-bibl::before
{
  display: block;
  content: "\A ";
}


mei-encodingdesc > mei-projectdesc::before
{
  display: block;
  content: "\A ";
}

mei-encodingdesc > mei-samplingdecl::before
{
  display: block;
  content: "\A ";
}


mei-worklist 
{
  display: none;
}